<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Desafio3" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

	<body>
		<header>
			<nav>
				<h2><a href="/">HOME</a></h2>
				<ul>
					<ol class="lista">Series
						<a href="/serie/index">Lista</a>
						<a href="/serie/new">Nuevo</a>
					</ol>
					<ol class="lista">Documentales
						<li><a href="/documentary_film/index">Lista</a></li>
						<li><a href="/documentary_film/new">Nuevo</a></li>
					</ol>
					<ol class="lista">Peliculas
						<li><a href="/movie/index">Lista</a></li>
						<li><a href="/movie/new">Nuevo</a></li>
					</ol>
				</ul>
			</nav>
		</header>
	<%= yield %>
	</body>
</html>
